<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SeleniumBankingProject">

	<listeners>
		<listener class-name="com.utilites.Reporting" />
	</listeners>

<parameter name="browser" value="chrome" />
	<test name="BankingApp Test">
		
		<classes>
		<!--	<class name="com.testcases.TC_LoginTest_001" />-->
			
			<!--   <class name="com.testcases.TC_LoginDDT_002" />-->
			<!-- <class name="com.testcases.TC_AddCustomerTest_003" />
			<class name="com.testcases.TC_EditCustomerTest_004" /> -->
			<class name="com.testcases.TC_AddEditTest_005"/>
		</classes>

	</test>

</suite>